<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- <bean id="factory1"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml" />
	</bean>

	<bean id="template"
		class="org.springframework.orm.hibernate3.HibernateTemplate">
		<constructor-arg ref="factory1" />	
	</bean>
	
	<bean id="dao"
		class="com.unisys.dao.EmployeeDaoSpringImpl">
		<property name="template" ref="template" />	
	</bean> -->
</beans>









