body {
	background-image: url("login-background.jpg");
	height: 100%;
	width: 100%;
}

.app-jumbotron {
	margin-left: 200px;
	margin-right: 200px;
}

.app-header {
	height: 100px;
	padding-top: 30px;
	font-size: 20px;
	color: lightblue;
}